<app-sidebar></app-sidebar>

<main class="admin-content">

    <div class="admin-main">
        <div class="mb-4 pb-4 border-bottom">
            <div class="row">
                <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                    //Aquí el nombre del cliente
                    <h3 class="mb-2 fs-lg">Annette Black</h3>
                    <span class="d-block mb-3 fs-sm text-muted">1 day ago</span>
                    <div class="mt-n1 star-rating">
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star-filled active"></i>
                        <i class="sr-star ci-star"></i>
                    </div>
                </div>
                <div class="col">
                    <p class="mb-3">
                        <a class="me-1 fw-bold text-decoration-none" href="#">@Devon Lane</a>
                        Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra
                        pellentesque erat sagittis.
                    </p>
                    <div class="d-flex justify-content-between">
                        <a class="nav-link p-0 fs-sm" href="#">
                            <i class="ci-chat me-2 fs-base align-middle mt-n1"></i>
                            Reply
                        </a>
                        <div class="d-flex">
                            <a class="nav-link me-3 p-0 fs-sm" href="#">
                                <i class="ci-like me-2 fs-base align-middle mt-n1 text-success"></i>
                                2
                            </a>
                            <a class="nav-link p-0 fs-sm" href="#">
                                <i class="ci-dislike me-2 fs-base align-middle mt-n1 text-danger"></i>
                                1
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of messages -->

</main>