<app-nav>

</app-nav>

<main class="cs-page-wrapper">
    <!-- Breadcrumb -->
    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mi perfil</li>
            </ol>
        </div>
    </nav>

    <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

            <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
                <app-sidebar>

                </app-sidebar>

            </aside>


            <!-- Content -->
            <div class="col-lg-8 ml-auto">
                <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
                    <h1 class="h2 mb-0">Mi Perfil</h1>
                </div>
                <form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
                    <div class="row pb-3">
                        <div class="col-sm-6 form-group">
                            <label for="ac-fn">Nombres</label>
                            <input required type="text" class="form-control form-control-lg" name="nombres"
                                [(ngModel)]="cliente.nombres" placeholder="Nombres">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="ac-ln">Apellidos</label>
                            <input required type="text" class="form-control form-control-lg" name="apellidos"
                                [(ngModel)]="cliente.apellidos" placeholder="Apellidos">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="ac-email">Correo electrónico</label>
                            <input required type="email" class="form-control form-control-lg" readonly value="{{cliente.email}}"
                                 placeholder="Correo electrónico">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="ac-password">Contraseña</label>
                            <input type="password" class="form-control form-control-lg" name="password" autocomplete="new-password"
                                [(ngModel)]="cliente.password" placeholder="Contraseña">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="ac-phone">Telefono</label>
                            <input required type="text" class="form-control form-control-lg" name="telefono"
                                [(ngModel)]="cliente.telefono" placeholder="Telefono">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="ac-phone">Fecha de Nacimiento</label>
                            <input required type="date" class="form-control form-control-lg" name="f_nacimiento"
                                [(ngModel)]="cliente.f_nacimiento">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="ac-phone">DUI</label>
                            <input required type="text" class="form-control form-control-lg" name="dui"
                                [(ngModel)]="cliente.dui" placeholder="00000000-0">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="ac-gender">Genero</label>
                            <select required id="ac-gender" class="custom-select custom-select-lg" name="genero"
                                [(ngModel)]="cliente.genero">
                                <option value="" disabled selected>Seleccione su genero</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro" selected>Otro</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="ac-country">País</label>
                            <select required id="ac-country" class="custom-select custom-select-lg" name="pais"
                                [(ngModel)]="cliente.pais">
                                <option value="" disabled selected>Seleccione su país</option>
                                <option value="el-salvador">El Salvador</option>
                                <option value="guatemala">Guatemala</option>
                                <option value="honduras">Honduras</option>
                                <option value="nicaragua">Nicaragua</option>
                                <option value="costa-rica" selected>Costa Rica</option>
                                <option value="panama">Panamá</option>
                                <option value="other">Otro</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Actualizar Perfil</button>
                </form>
            </div>
        </div>
    </section>

</main>

<app-footer>

</app-footer>