<!-- Footer -->
<footer class="cs-footer pt-sm-5 pt-4 bg-dark">
  <div class="container pt-3">
    <div class="row pb-sm-2">

      <!-- Sección: Atención al Cliente -->
      <div class="col-6 col-sm-3 col-lg-2 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Atención</h3>
        <ul class="nav nav-light flex-column">
          <li class="nav-item mb-2">
            <a href="/politicas-envio" class="nav-link p-0 font-weight-normal">
              Envíos & Devoluciones
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/faq" class="nav-link p-0 font-weight-normal">
              Preguntas Frecuentes
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/tracking" class="nav-link p-0 font-weight-normal">
              Rastreo de Pedido
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/blog" class="nav-link p-0 font-weight-normal">
              Blog
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/contacto" class="nav-link p-0 font-weight-normal">
              Contacto
            </a>
          </li>
        </ul>
      </div>

      <!-- Sección: Compra -->
      <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Tienda</h3>
        <ul class="nav nav-light flex-column pl-xl-6">
          <li class="nav-item mb-2">
            <a href="/novedades" class="nav-link p-0 font-weight-normal">
              Nuevos Ingresos
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/tendencias" class="nav-link p-0 font-weight-normal">
              Tendencias
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/ofertas" class="nav-link p-0 font-weight-normal">
              Ofertas
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="/categorias" class="nav-link p-0 font-weight-normal">
              Categorías
            </a>
          </li>
        </ul>
      </div>

      <!-- Sección: Información de contacto -->
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Contáctanos</h3>
        <ul class="nav nav-light flex-column pb-3">

          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Tel:</span>
            <a href="tel:+50300000000" class="nav-link d-inline-block p-0 font-weight-normal">
              +503 0000-0000
            </a>
          </li>

          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Email:</span>
            <a href="mailto:soporte@tengomarket.com" class="nav-link d-inline-block p-0 font-weight-normal">
              soporte@tengomarket.com
            </a>
          </li>

        </ul>

        <!-- Redes sociales oficiales -->
        <a href="https://www.facebook.com/TenGoSV" class="social-btn sb-solid sb-light mr-2" target="_blank">
          <i class="cxi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/tengo.todomarket" class="social-btn sb-solid sb-light mr-2" target="_blank">
          <i class="cxi-instagram"></i>
        </a>
        <a href="https://sv.linkedin.com/company/tengo-todo-market" class="social-btn sb-solid sb-light" target="_blank">
          <i class="cxi-linkedin"></i>
        </a>
      </div>

      <!-- Sección: App -->
      <div class="col-lg-4 col-xl-3 mb-4">
        <h3 class="h6 mb-3 pb-1 text-uppercase text-light">App TenGo Market</h3>
        <div class="d-flex flex-wrap flex-sm-nowrap">

          <a href="#" class="btn-market btn-apple mb-3 mr-3" role="button">
            <span class="btn-market-subtitle">Disponible en</span>
            <span class="btn-market-title">App Store</span>
          </a>

          <a href="#" class="btn-market btn-google mb-3" role="button">
            <span class="btn-market-subtitle">Disponible en</span>
            <span class="btn-market-title">Google Play</span>
          </a>

        </div>
      </div>

    </div>
  </div>

  <div class="border-top border-light">
    <div class="container py-4">
      <div class="font-size-xs text-light">
        <span class="font-size-sm">&copy;</span>
        TenGo Market – Todos los derechos reservados.
        Creado con
        <i class="cxi-heart mt-n1 mx-1 font-size-base text-primary align-middle"></i>
        <a
          href="https://github.com/gonesau/tienda"
          class="text-light"
          target="_blank"
          rel="noopener noreferrer"
        >
          by Gonesau
        </a>
      </div>
    </div>
  </div>
</footer>
